*{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.App {

}

button{
  cursor: pointer;
}

a{
  cursor: pointer;
}

.Welcome{
  /* height: 20em; */
  padding: 5em;
  /* display: grid; */
  /* grid-template-columns: 9% 50% 25%; */
  justify-content: center;
}

#annie{
  font-size: 1.2em;
}

.text-welcome-page{
  position: relative;
  width: 8rem;
  right: 2.7rem;
  /* display: flex; */
  /* flex-direction: column; */
}

.name-job-title{
  /* align-self:baseline; */
  padding-top: 5em;
}

#woman-pc{
  width: 100vw;
  left: 0;
  /* min-width: 10%; */
  opacity: .5;
  position: absolute;
}

/* MENU */
.Menu{
  margin: 0;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  /* min-width: 5em; */
  background-color: rgba(212,212,212, .5);
}

.menu{
  justify-content: center;
  border: none;
  border-radius: .2em;
  width: 100vw;
  background: none;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  padding: .5em;
  margin-top: 1.5em;
  min-width: 3em;
  /* animation-name: menu; */
  animation-duration: 4s;
  /* animation-iteration-count: infinite; */
}

@keyframes menu {
  0%{
    background-color: white;
    color: black;
  }
  100%{
    background-color: black;
    color: white;
  }
}

/* #projects{
  animation-name: projects;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes projects {
  0%{
    margin-right: -140em;
  }
} */

/* PROJECTS */
/* .Background{
  margin-left: 5em;
  margin-top: 5em;
  width: 36em;
  height: 28em;
  min-width: 5em;
  min-height: 4.3em; */
  /* background-color: black; */
  /* background-color: rgba(0, 0, 0, 1);
  position: absolute;
  color: white;
  border-radius: 1em;
} */

.project-img{
  /* border-radius: 1em; */
  /* width: 20em;
  height: 18em; */
  padding: 1rem;
  opacity: 1;
  /* display: block; */
  min-width: 10em;
  /* margin-left: 16.5em;
  margin-top: 5em; */
}
#project1:hover{
  opacity: .5;
  padding-top: .1em;
}

#techs{
  font-weight: bold;
  font-size: .7em;
  margin-top: .8em;
}

/* #link-project{
  font-size: 2em;
  opacity: 0;
  color: white;
  display: relative;
}

#link-project:hover{
  opacity: .5;
} */

.Projects{
  display: flex;
  flex-wrap: wrap;
  min-width: 5em;
}
/* .Project2{
  padding: .5em;
  margin-left: 5em;
  margin-top: 5em;
  border: .1em solid black;
  display: grid;
  grid-template-columns: 28% 18%;
  width: 60em;
  height: 18em;
  min-width: 10em;
}

#project2{
  width: 25.5em;
  height: 23em;
  min-width: 5em;
  grid-column-start: 1;
} */


#project1{
  padding-top: 1em;
  padding-bottom: .5em;
  /* margin-right: 3em; */
  width: 100%;
  height: 45%;
  min-width: 2em;
}

/* #text-project2{
  margin-top: 2.1em;
  font-size: 1.2em;
  text-align: justify!important;
  grid-column-start: col-start 2;
} */

.allProjects{
  margin-top: 2em;
  padding-top: 2em;
}

#github{
  width: 3em;
  min-width: 1em;
}

@media only screen and (max-width: 414px) {

}

/* ARROW  */

.Arrow{
  margin-top: 8em;
  text-align: center;
  transform: rotate(90deg);
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0%{color: white;}
  100%{color:black}
}

/* MODAL */
.modal{
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(250, 255, 255, .8)
}

.modal-above{
  padding: 2em;
  width: 28em;
  background-color: rgba(233,233,233, 1);
  display: grid;
  grid-template-columns: 6em 5em 18em;
  margin-left: 19em;
}

#me{
  border-radius: 50%;
  width: 9em;
  min-width: 4em;
  /* padding-right: 3em; */
}

#close-modal{
  font-size: 1em;
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: .1em;
  border-radius: 3em;
  margin: 1em;
  background-color: rgba(236, 100, 75, .7);
}

#about-me{
  grid-column-start: 3;
  text-align: justify;
}

/* NAV BAR */

/* .Nav{
  margin-left: 28em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 15em 15em 15em;
} */

/* Technologies */

.Technologies{
  text-align: center;
  opacity: .6;
}
.tech-logos{
  width: 3em;
  padding: .5em;
}

#react{
  width: 2.5em;
}


/* CONTACT ME FORM */

#contact-title{
  text-align: center;
  margin-top: 10em;
}

.form-contact-me{
  margin-top: .8em;
  display: flex;
  justify-content: center;
  /* background-image: url("https://media.gettyimages.com/photos/office-desk-table-with-computer-keyboard-supplies-coffee-cup-pen-and-picture-id861222196"); */
  /* background-size: cover; */
  background-image: linear-gradient(white, rgba(233,233,233, .8));
  padding-bottom: 5vh;
}

.form{
  display: flex;
  flex-direction: column;
}

#input-form{
  width: 30vw;
  height: 3vh;
  padding: .4em;
  margin: 1em;
  border: .1em solid gray;
}

#send{
  width: 18vw;
  height: 4vh;
  border: .1em solid gray;
  /* background-color: blue; */
  margin: 1em;
  align-self: center;
}

#div-textarea{
  margin-top: .6em;
  /* margin-left: 17em; */
}

#textarea{
  padding: .5em;
  width: 100%;
  height: 60%;
  border: .1em solid gray;
}

/* FOOTER */

.Footer{
  /* background-color: lightgrey; */
  height: 10vh;
  width: 100vw;
  text-align: center;
  background-image: linear-gradient(rgba(233,233,233, .8), rgba(233,233,238, 1) );
}

#contactme-icons{
  width: 9.7vw;
  height: 9.7vw;
  padding-left: 1em;
}
/* MEDIA QUERIES */

@media (min-width: 1024px) {
  .Technologies{
    padding-top: 18em;
  }
    .tech-logos{
      width: 5em;
      padding: .5em;
    }

    body{
      background-color: blue;
    }

    #react{
      width: 4em;
    }

    #annie{
      font-size: 5rem;
      padding-left: 8rem;
      padding-top: 7.3rem;
      width: 8em;
    }

    #job-title{
      font-size: 1.8rem;
      padding-left: 8rem;
      width: 8em;
    }

    #project-paragraph{
      font-size: 1rem;
    }
}

@media (min-width: 768px) {

  .Technologies{
    padding-top: 4em;
  }
  body{
    background-color: red
    }

    .tech-logos{
      width: 5em;
      padding: .5em;
    }

    #react{
      width: 4em;
    }

    #annie{
      font-size: 3rem;
      padding-left: 1.2rem;
      padding-top: 4.5rem;
      width: 8em;
    }

    #job-title{
      font-size: 2rem;
      padding-left: 1.2rem;
      width: 8em;
    }

    #project-paragraph{
      font-size: 2.5rem;
    }

    .menu{
      font-size: 1.5rem;
    }

    #link-repo{
      font-size: 1.7rem;
    }

    #techs{
      font-size: 1.7rem;
    }

}
